
/*  GLOBAL */
*{margin: 0; padding: 0;}

body{
  background: black;
  font-family: Roboto,Helvetica,"Helvetica Neue", Arial,sans-serif;
  color: white;
}

#copyright{ font-size: 12px;  color: #0060ac; }

.main{
  width: 100% !important;
  background: #333333;}




/*  HEADER */
.head{
	color: white;
  background: #191919;
  width: 100%;
  padding: 20px 0 20px 0;
}

.title{ padding :  0  15px;}

.logo{
  position: absolute;
  top: 30px;
  right: 15px;
  z-index: 99;
  width: 70px;
  height: 70px}

.logo img{
  width: 70px;
  height: 70px}

.clock{font-size: 12px;}

/* BODY  */
.categories {
      text-align: center;}
.cat{ text-align: center;
      width: 35%;
      margin: 0 5%;
      padding-bottom: 3px;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      position: relative;
      }
.cat:after{
      content: '';
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: transparent;
      transition: width .5s ease, background-color .5s ease}
#active{color: #0060ac}
#active:after{width: 100%;background: #0060ac;}
.body {        padding: 10px 5px}
.bodyContent { padding :  0  5px}


  /* Incident  */
  .incident{
    text-align: center;
    margin: 10px 0 ;
    padding: 20px;
    height: 10000px;
    background: #6d6d6d;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    right: 0 ;}

  .incidentLight{

    z-index: 99;
    height: 10px; width: 10px; margin-right: 5px;
    background: green;
    border-radius: 50%;
    display: inline-block;
  }
  .incident button{
    margin: 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    background: red;
  }

  /* Group  */
  .avatar{
        position: relative;
        height: 80px;
        right: 0 ;
        margin: 10px 0 ;
        font-size : 16px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        background: #6d6d6d;}

  .avatarText{
        padding: 5px 10px 5px 90px;
      }

      .statusLight{
        z-index: 99;
        position: absolute;
        top:58px; left: 58px;
        height: 12px; width: 12px;
        background: green;
        border-radius: 50%;
      }

      .avatarimg{
        position: absolute;
        top: 8px; left: 8px;
        height: 64px; width: 64px;
        text-align: center; line-height: 70px;
        color: white;
        font-size: 24px;
        font-weight: bold;
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
        border-radius: 50%}
