
/*  GLOBAL */
    *{margin: 0; padding: 0;}

    body{
      background: black;
      font-family: "Montserrat","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
      color: white;
    }

    #comment{ font-size: 12px;  color: #0060ac; font-weight: bold;}

    .main{
      margin: 0 ;
      background: #333333;
    }

    html {padding :  0  }


/*  HEADER */
    .head{
    	color: white;
      background: #191919;
      width: 100%;
      padding: 20px 0 20px 0;
    }

    .title{
      padding :  0  15px;
      margin: 0;
    }
    .logo{
      position: fixed;
      top: 20px;
      right: 30px;
      z-index: 99;
      width: 70px;
      height: 70px;
    }

    .logo img{
      width: 50px;
      height: 50px;
}

    .clock{
      font-size: 12px;
    }

/* BODY  */
.categories {text-align: left;}
.cat{ text-align: center;
      width:  35%;
      margin: auto;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      }

      .body {margin: 0;   padding: 0 0 15px 0;}

      .bodyContent {
        padding :  0 5px;
      }

      .status{margin: 0;   padding: 20px;}

      .userlist{margin: 0; padding: 0 0 10px 0;}

      .avatar{position: relative;
              height: 80px;
              right: 0 ;
              margin: 10px 0 ;
              border-top-left-radius: 40px;
              border-bottom-left-radius: 40px;
              padding-left: 90px;
              background: #6d6d6d;}

      .statusLight{
        z-index: 99;
        position: absolute;
        top:58px; left: 58px;
        height: 12px; width: 12px;
        background: green;
        border-radius: 50%;
      }

      .avatar img{
        position: absolute;
        top: 5px; left: 5px;
        height: 70px;
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
        border-radius: 50%}
