
/*  GLOBAL */
      *{margin: 0; padding: 0;}

      body{
        background: black;
        font-family: "Montserrat","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
        color: white;
      }

      #comment{ font-size: 12px;  color: #0060ac; font-weight: bold;}

      .main{
        margin: 0 ;
        background: #333333;
      }

      html {padding :  0  20px;}


/*  HEADER */
    .head{
    	color: white;
      background: #191919;
      width: 100%;
      padding: 0 0 25px 0;
    }

    .title{
      padding :  0  15px;
      margin: 0;
    }



/* BODY  */
.categories {text-align: center;}
.cat{  width:  48%;
      margin: auto;
      display: inline-block;
      border: 1px solid #0060ac}

      .body {margin: 0;   padding: 0 0 15px 0;}

      .bodyContent {
        padding :  0 5px;
      }

      .status{margin: 0;   padding: 0 0 10px 0;}

      .userlist{margin: 0; padding: 0 0 10px 0;}

      .avatar{position: relative;
              height: 80px;
              width: 70%;
              margin: 10px 0 ;
              border-top-left-radius: 40px;
              border-bottom-left-radius: 40px;
              padding-left: 90px;
              background: #6d6d6d;}

      .statusLight{
        z-index: 99;
        position: absolute;
        top:58px; left: 58px;
        height: 12px; width: 12px;
        background: green;
        border-radius: 50%;
        box-shadow: 0.25px 0.25px 2px 1px rgba(0,255,0, 1);
      }

      .avatar img{
        position: absolute;
        top: 5px; left: 5px;
        height: 70px;
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
        border-radius: 50%}
